/*#0B0C10*/
/*https://visme.co/blog/website-color-schemes/ 12*/

.absolute {
    position: absolute;
}

/*flex box*/
.flexboxBasic {
    position: relative;
    min-width: 0;
    margin: 2px;
}
.flexParent{
    display: flex;
}
/*end flex box*/

/*backgrounds*/
/*main menu*/
.background {
    background-color: #1F2833;
}
/*subcanvas*/
.subGameCanvas.background {
    border: 4px solid #C5C6C7;
    background-color: #0B0C10;
    border-radius: 10px;
    padding: 1px;
}
/*pop up cards*/
.popUp-card.background{
    /*set one*/
    background-color: #404c58;
    /*set two*/
    /*background-color: #a4a5a6;*/
    box-shadow: 0 0 2px #C5C6C7;

    /*borders*/
    border-color: #C5C6C7;
    border-width: 2px;
    border-radius: 2vw;
    border-style: solid;

    opacity: 99.5%;
}
/*popup content*/
.popUp-card .background {
    padding: 0;
    margin: 0;
    /*set one*/
    background-color: #d6d7d8;
    /*set two*/
    /*background-color: #08090d;*/
    box-shadow: none;

    /*border*/
    border-style: solid;
    border-width: 2px;
    border-color: #979899;
    border-radius: 25px;
}
.popUp-card .textWrapper .background {
    /*see through background*/
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1vw;
    border-style: dashed;
    /*set one*/
    border-color: #2d5a56;
}
.popUp-card .textWrapper .background div {
    font-size: calc(1.0vw + 0.35vh);
    /*font-size: calc(80% * 1.5);*/
    text-overflow: fade;
    padding: 1.2vh;
}
/*end backgrounds*/

/*text colors*/
.gamePanelContainer{
    color: #cfd0d1;
}
.popUp-card{
    color: #1F2833;
}
/*end text colors*/

.gamePanelContainer {
    position: relative;
    padding: 0;

    display: block;
    margin: auto;
/*padding: 0;*/
}

#gamePanel-1 {
    width: 100%;
    height: 100%;
}

.gameCanvas {
    width: 100%;
    display: block;
    /*height: 5%;*/
}

.textBoxWrapper *{
    /*prevent text overflow*/
    overflow-wrap: break-word;
    max-width: 100%;
    font-size: calc(0.9vh + 0.7vw);
}
.vertTextBoxWrapper div{
    font-size: calc(10px + 0.8vw);
    text-align: center;
    /*vertical-align: middle;*/
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.vertTextBoxWrapper.left div{
    text-align: left;
}
.vertTextBoxWrapper.right div{
    text-align: right;
}

/*fade code, element should have .fadeOut, add .fadeOut2 to fade*/
.fadeOut{
    opacity: 80%;
}
.fadeOut2{
    transition: opacity 900ms ease-in;
    opacity: 0;
}

/*buttons of all types*/
.button {
    background-color: #66FCF1;
    border-style: none;
    border-radius: calc(32px + 3%);
    box-shadow: 0 0 0.7vw #64f5ea;

    transform: scale(1);

    /*background color change eases and takes x sec, scaling (transform) etc*/
    transition: background 150ms ease-in-out, transform 250ms ease, box-shadow 200ms ease;
}
.button:hover {
    box-shadow: 0 0 1.8vw #60cdbb;
    background-color: #67fff4;
    transform: scale(1.01);
}
/*text buttons*/
.button.gameButton {
    font-size: calc(1.7vw + 35%);
    color: #303944;
}
.button:active {
    box-shadow: none;
    background-color: #5aefe4;
    /*shrink on press*/
    transform: scale(0.985);
}
.button.gameButton:focus {
    outline: none;
}
.popUp-card .button {
    background-color: #b5b6b7;
    /*color: #ffffff;*/
    border-color: rgba(31, 40, 51, 0.71);
    border-style: solid;
    border-width: 1px;
    font-size: 100%;
    box-shadow: none;
}
/*end buttons*/

/*Carousel Stuff*/
.selectCarouselWrapper {
    background-color: inherit;
    padding: 0;
    margin: 0;
}
.popUp-card .selectCarouselMember {
    /*border*/
    border-bottom-style: none;
    border-radius: 25px 25px 0 0;

    transition: opacity 150ms ease, transform 250ms ease, margin-top 80ms ease, padding-bottom 80ms ease, width 150ms ease-out, height 150ms ease-out, left 300ms ease-in, top 300ms ease-in;
}
.selectCarouselMember:hover {
    margin-top: -8px;
    padding-bottom: 8px;
}
.selectCarouselMember.currentlySelected {
    border-color: #60cdbb;
    box-shadow: 0 -3px 2px #60cdbb;
}
.selectCarouselMember.currentlySelected:hover {
    box-shadow: 0 -3px 6px #60cdbb;
}
/*text of member*/
.selectCarouselMember div {
    font-size: calc(3px + 1.8vw);
}
.selectImgButton {
    border-radius: 1.4em;
    box-shadow: none;
    /*transform: none;*/
    background-color: rgba(0, 0, 0, 0);
    opacity: 8%;
    transition: opacity 250ms ease, transform 250ms ease;
}
.selectImgButton:hover {
    box-shadow: 0 0 0.3vw #C5C6C7;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 100%;
}

/* --------------------------------------------- REACT stuff Below ------------------------------------------- */

#app_container{
    width: 90vw;
    height: 90vh;
    margin: auto;

    background-color: inherit;

    /*TODO: delete testing borders*/
    border-color: magenta;
    border-style: solid;
    border-width: 1px;
}

.square_fill > .subGameCanvas.background{
    /*(100% - width)/2 - border_width*/
    margin: calc(1% - 4px);
    width: 98%;
    height: 98%;
}

/*.square_fill > p, .square_fill > h1, .square_fill > h2, .square_fill > h3, .square_fill > h4, .square_fill > h5, .square_fill > h6{*/
.square_fill{
    color: rgba(255, 255, 255, 0.77);
}

.subCanvas{
    border: 3px solid #C5C6C7;
    border-radius: 3%;

    background-color: inherit;

    margin: 1%;

    width: calc(98% - 6px);
    height: auto;
}
.subCanvas.black_background{
    background-color: black;
}

.inline_block_parent > *{
    display: inline-block;
}

.ui_layer *{
    margin: 5px;
}

.ui_layer{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    margin: 14px;

    /*TODO: delete testing borders (and margin which is set to border width)*/
    border-color: greenyellow;
    border-style: solid;
    border-width: 1px;
}

.menu_position{
    float: left;
}

.menu{
    background-color: #67fff4;
    box-shadow: 0 0 0.4rem #b0fffc;
    border-radius: 30%;

    position: relative;
}

.menu_insides{
    margin: 0;
    padding: 2px;

    /*set one*/
    background-color: rgba(82, 93, 107, 0.79);

    /*border*/
    border-style: solid;
    border-width: 2px;
    border-color: #cccdce;
    border-radius: 5%;
}
.menu_insides > *{
    display: block;

    margin: 12px;

    min-width: 80px;
    width: 15vw;
    max-width: 180px;

    /*min-height: 25px;*/
    /*height: 5vh;*/
    /*max-height: 60px;*/

    text-align: center;
}

.score_text{
    float: right;
}

.playing_text{
    float: left;
}

.bottom_ui{
    position: absolute;
    bottom: 13px;
    width: 100%;
    padding: 0;

    margin: 0;

    text-align: center;

    /*TODO: delete testing borders (and margin which is set to border width)*/
    border-color: deeppink;
    border-style: solid;
    border-width: 1px;
}
.bottom_ui > *{
    margin: auto;
}

.popUp-card{
    position: absolute;
    margin: 4%;

    width: 92%;
    height: 92%;

    z-index: 11;
}
.selectSnake > div{
    padding: 0;
    margin: 3%;

    width: 94%;
    height: 94%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /*TODO: delete testing borders (and margin which is set to border width)*/
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}
.selectSnake .text_card{
    border-radius: 0 15px 15px 0;

    padding: 2%;

    overflow-y: scroll;

    height: calc(96% - 4px);
    width: calc(71% - 4px);
}
.selectSnake .carousel_parent{
    position: relative;

    height: 100%;
    width: 25%;
}
.selectSnake .generation_label{
    margin-left: 10%;
    margin-right: 8px;
}
.selectSnake .subCanvas.black_background{
    border-color: #9d9d9e;
}
.selectSnake select{
    border-radius: 10px;

    border-color: #979899;
    border-style: solid;
    border-width: 1px;
}
.vertCarouselItem{
    border-radius: 20px 0 0 20px;

    color: black;

    background-color: #59efe6;

    border-color: #979899;
    border-style: solid;
    border-width: 1px;

    box-shadow: 0 0 0.4vw #979899;
}
.vertCarouselItem.focused{
    transform: translateX(18%);

    background-color: #d6d7d8;
    box-shadow: 0 0 1.2vw #979899;
}
.vertCarouselItem:hover{
    transform: translateX(8%);
}
.vertCarouselItem > *{
    margin: 0;
    padding: 4% 2% 4% 4%;
    max-width: 74%;
}

/*IMPORTANT snake details*/
.snake_details{
    padding: 2%;
    width: 96%;
    min-height: 10px;

    /*see through background*/
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1vw;
    border-style: dashed;
    /*set one*/
    /*TODO: change color*/
    border-color: #2d5a56;
    border-width: 2px;
}
.snake_details .category_text_title{
    font-size: 120%;
    text-decoration: underline;

    margin-top: 1em;
    margin-bottom: 0.2em;
}
.snake_details .category_text_title:first-of-type{
    margin-top: inherit;
}
.snake_details .category_text_title.small{
    margin-top: 0.5em;
    font-size: 100%;
}
.snake_details .category_text_title::after{
    content: ":";
}
.snake_details .category_text{
    margin-top: inherit;
    margin-bottom: inherit;
}

body{
    background-color: #1F2833;
    color: #cfd0d1;
}

p{
    white-space: pre-wrap;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.30);

    border-radius: 500px;
}
.popUp-card ::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.40);
}
.popUp-card ::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.30);
}

/*General Purpose react classes BELOW*/
.relative{
    position: relative;
}
.react_wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    position: relative;
}

.wrapper_div{
    margin: 0;
    padding: 0;
}

.carousel_wrapper{
    padding: 0;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    overflow: hidden;
}
.carousel_wrapper_2{
    margin-top: 10%;
    z-index: 1;
    position: relative;
}
.carousel_wrapper .scroll_button{
    width: 100%;
    text-align: center;

    z-index: 2;
}
.carousel_wrapper .scroll_button .button{
    background-color: rgba(255, 255, 255, 0);

    box-shadow: none;

    opacity: 70%;
}
.vertCarouselItem{
    transition: all 200ms ease-in-out;
    transform: translateX(20%);

    width: 100%;

    margin-top: 2%;
}

.mouse_div{
    /*TODO: delete testing borders (and margin which is set to border width)*/
    border-color: cyan;
    border-style: solid;
    border-width: 1px;
}

.icon{
    min-width: 40px;
    min-height: 40px;
    width: 7vw;
    height: 7vw;

    position: relative;
}
.icon:hover{
    z-index: 500;
}
.icon.small1{
    min-width: 20px;
    min-height: 20px;
    width: 4vw;
    height: 4vw;
    max-width: 40px;
    max-height: 40px;
}
.icon.small2{
    min-width: 17px;
    min-height: 17px;
    width: 3vw;
    height: 3vw;
    max-width: 37px;
    max-height: 37px;
}
.icon.small3{
    min-width: 14px;
    min-height: 14px;
    width: 2vw;
    height: 2vw;
    max-width: 34px;
    max-height: 34px;
}
.icon > img{
    width: 100%;
    height: auto;
}

.square_fill{
    /*margin: 0;*/
    /*padding: 0;*/
    /*center both vertically and horizontally*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*TODO: delete testing borders (and margin which is set to border width)*/
    border-color: red;
    border-style: solid;
    border-width: 1px;
}