body {
    padding: 0;
    margin: 0;
}

.gamePanelContainer {
    position: relative;
    width: 100vw;
    height: 50vw;
    padding: 0;

    display: block;
    margin: auto;
    /*padding: 0;*/
}
#gamePanel-1 {
    /*width: 100%;*/
    /*height: 100%;*/
}

.gameCanvas {
    width: 100%;
    display: block;
    /*height: 100%;*/
}

.subGameCanvas {
    border: 4px solid aqua;
}

.selectContainer * {
    margin: 0;
    padding: 0;
    height: 100%;
}

.selectContainer .select {
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    /*background-color: magenta;*/
    /*margin: 0 auto;*/
    /*display: block;*/
}

.popUp-card {
    background-color: darkcyan;
}

/*!*Basically sets width and height to be the same so that it is a square which fits in a given range*!*/
/*!*div around content to be squared*!*/
/*.squareMeWrap {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*!*content to be squared*!*/
/*.squareMe {*/
/*    !*width: min();*!*/
/*    !*square the content*!*/
/*    !*set vars in JS or IDs*!*/
/*    --max-width: 0;*/
/*    --max-height: 0;*/
/*    width: var(--max-width);*/
/*    height: var(--max-height);*/
/*    max-width: var(--max-height);*/
/*    max-height: var(--max-width);*/
/*    !*center the content*!*/
/*    display: block;*/
/*    margin: auto;*/

/*    !*position: static;*!*/
/*}*/

/*1:1 aspect ratio*/

/*.squareMe * {*/
/*    !*square the content*!*/
/*    !*set vars in JS or IDs*!*/
/*    --max-width: 0;*/
/*    --max-height: 0;*/
/*    width: var(--max-width);*/
/*    height: var(--max-height);*/
/*    max-width: var(--max-height);*/
/*    max-height: var(--max-width);*/
/*    !*center the content*!*/
/*    margin: auto;*/
/*}*/

/*Aspect ratio things: https://jsbin.com/nehituxuqe/edit?html,css,output*/
/*.aspectRatioWrapper {*/
/*    position: relative;*/
/*}*/
/*.aspectRatio .ratio {*/
/*    !*Set padding-bottom*!*/
/*}*/
/*.aspectRatio .aspectRatio-content {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*button {*/
/*    height: 100%;*/
/*    background-color: rgb(177, 224, 232);*/
/*    border: 2px solid rgb(78, 190, 208);*/
/*    box-shadow: 0 0 0.5em #000;*/
/*    padding-bottom: 1em;*/
/*}*/
/*button:hover {*/
/*    background-color: rgb(204, 235, 240);*/
/*}*/

/*button:active {*/
/*    background-color: rgb(113, 199, 213);*/
/*    box-shadow: 0 0 0.15em #000;*/
/*}*/