/*#0B0C10*/
/*https://visme.co/blog/website-color-schemes/ 12*/

body {
    padding: 0;
    margin: 0;
}

/*Override default button style*/


.gamePanelContainer {
    position: relative;
    width: 100vw;
    height: 50vw;
    padding: 0;

    display: block;
    margin: auto;
    /*padding: 0;*/
}
#gamePanel-1 {
    /*width: 100%;*/
    /*height: 100%;*/
}

.gameCanvas {
    width: 100%;
    display: block;
    /*height: 100%;*/
}

.subGameCanvas {
    border: 4px solid #C5C6C7;
    background-color: #0B0C10;
    border-radius: 10px;
    padding: 1px;
}

.snakeMenu {
    background-color: #1F2833;
}

.gameButton {
    background-color: #66FCF1;
    border-radius: 25px;
    border-color: #b9babb;
    border-width: calc(4px + 0.08vw);
    border-style: none;
    box-shadow: 0 0 0.9vw #64f5ea;
    /*background color change eases and takes x sec, scaling (transform) etc*/
    transition: background 150ms ease-in-out, transform 250ms ease, box-shadow 200ms ease;
}
.gameButton:hover {
    box-shadow: 0 0 1.4vw #60cdbb;
    background-color: #67fff4;
    transform: scale(1.01);
    /*transform: translateY(10px);*/
}
.gameButton:active {
    box-shadow: none;
    background-color: #5aefe4;
    /*shrink on press*/
    transform: scale(0.985);
}
.gameButton:focus {
    /*background-color: magenta;*/
    /*border-color: #C5C6C7;*/
    /*border-width: 2px;*/
    outline: none;
}
/*TODO: button border gradient?*/

.selectContainer * {
    background-color: #66FCF1;
    margin: 0;
    padding: 0;
    height: 100%;
}
.selectContainer .select {
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
/*background-color: magenta;*/
/*margin: 0 auto;*/
/*display: block;*/
}

.popUp-card {
    background-color: #404c58;
    box-shadow: 0 0 2px #C5C6C7;
    border-color: #C5C6C7;
    border-width: 2px;
    border-radius: 5vw;
    border-style: solid;
    opacity: 99.5%;
}

.imgButton {
    /*background-color: magenta;*/
    border-radius: 1.4em;
}

/*Carousel Stuff*/
.selectCarouselWrapper {
    background-color: inherit;
    padding: 0;
    margin: 0;

    /*testing stuff TODO: remove*/
    /*background-color: magenta;*/
    /*border-style: solid;*/
    /*border-color: blueviolet;*/
    /*border-width: 5px;*/
}
.selectCarouselMember {
    padding: 0;
    margin: 0;
    background-color: #d6d7d8;

    /*border*/
    border-style: solid;
    border-bottom-style: none;
    border-width: 2px;
    border-color: #979899;
    border-radius: 25px 25px 0 0;

    transition: opacity 150ms ease, transform 250ms ease;

    /*center text*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*font-size: x-large;*/
}
/*text of member*/
.selectCarouselMember div {
    /*margin: auto;*/
    font-size: x-large;
    text-align: center;
    /*vertical-align: middle;*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.selectImgButton {
    background-color: rgba(0, 0, 0, 0);
    opacity: 8%;
    transition: opacity 250ms ease;
}
.selectImgButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 100%;
}

/*!*Basically sets width and height to be the same so that it is a square which fits in a given range*!*/
/*!*div around content to be squared*!*/
/*.squareMeWrap {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*!*content to be squared*!*/
/*.squareMe {*/
/*    !*width: min();*!*/
/*    !*square the content*!*/
/*    !*set vars in JS or IDs*!*/
/*    --max-width: 0;*/
/*    --max-height: 0;*/
/*    width: var(--max-width);*/
/*    height: var(--max-height);*/
/*    max-width: var(--max-height);*/
/*    max-height: var(--max-width);*/
/*    !*center the content*!*/
/*    display: block;*/
/*    margin: auto;*/

/*    !*position: static;*!*/
/*}*/

/*1:1 aspect ratio*/

/*.squareMe * {*/
/*    !*square the content*!*/
/*    !*set vars in JS or IDs*!*/
/*    --max-width: 0;*/
/*    --max-height: 0;*/
/*    width: var(--max-width);*/
/*    height: var(--max-height);*/
/*    max-width: var(--max-height);*/
/*    max-height: var(--max-width);*/
/*    !*center the content*!*/
/*    margin: auto;*/
/*}*/

/*Aspect ratio things: https://jsbin.com/nehituxuqe/edit?html,css,output*/
/*.aspectRatioWrapper {*/
/*    position: relative;*/
/*}*/
/*.aspectRatio .ratio {*/
/*    !*Set padding-bottom*!*/
/*}*/
/*.aspectRatio .aspectRatio-content {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*button {*/
/*    height: 100%;*/
/*    background-color: rgb(177, 224, 232);*/
/*    border: 2px solid rgb(78, 190, 208);*/
/*    box-shadow: 0 0 0.5em #000;*/
/*    padding-bottom: 1em;*/
/*}*/
/*button:hover {*/
/*    background-color: rgb(204, 235, 240);*/
/*}*/

/*button:active {*/
/*    background-color: rgb(113, 199, 213);*/
/*    box-shadow: 0 0 0.15em #000;*/
/*}*/